<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="name prop">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            <label>Name</label>
        </h1>
        <div class="sub-header">
            <div class="prop">
                <select name="data.time" data-dtype="number">
                    {{#select data.time}}
                    <option value="0">None</option>
                    <option value="1">Minor Action</option>
                    <option value="2">Major Action</option>
                    <option value="3">Concentration</option>
                    <option value="4">Variable</option>
                    {{/select}}
                </select>
                <label for="data.reloadTime">Casting Time</label>
            </div>
            <div class="prop">
                <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="string" />
                <label for="data.origin">Origin</label>
            </div>
            <div class="prop">
                <select name="data.ability" data-dtype="String">
                    {{#select data.ability}}
                    <option value="Accuracy">Accuracy</option>
                    <option value="Communication">Communication</option>
                    <option value="Constitution">Constitution</option>
                    <option value="Dexterity">Dexterity</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Intelligence">Intelligence</option>
                    <option value="Perception">Perception</option>
                    <option value="Strength">Strength</option>
                    <option value="Willpower">Willpower</option>
                    {{/select}}
                </select>
                <label for="data.ability">Ability</label>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="stat-row">
            <div class="prop">
                <input type="text" name="data.fatigue" value="{{data.fatigue}}" data-dtype="string" />
                <label for="data.fatigue">Fatigue</label>
            </div>
            <div class="prop">
                <div class="resource">
                    <input
                        name="data.resistance.ability"
                        type="text"
                        value="{{data.resistance.ability}}"
                        data-dtype="string"
                    />
                    <span>(</span>
                    <input
                        name="data.resistance.focus"
                        type="text"
                        value="{{data.resistance.focus}}"
                        data-dtype="string"
                    />
                    <span>)</span>
                </div>
                <label>Resistance</label>
            </div>
        </div>
        <div class="wide-section">
            <h3>Description</h3>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
