.sheet-tabs {
    margin: 4px;
    margin-bottom: 0;

    .item {
        margin: 0px 2%;
        background-color: @paleBlueRose;
        color: white;
    }

    .item.active {
        background-color: @blueRose;
        text-shadow: none;
    }
}
